* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(images/2.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  text-align: center;
}
.navbar {
  display: flex;
  background-color: white;
  width: 100%;
  height: 15%;
  border: none;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-left: 50px;
  color: rgb(244, 85, 76);
  border: none;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding-inline: 10px;
  font-family: Arial;
  font-size: small;
}
a{
  text-decoration: none;
  color: black;
}
#input {
  height: 26px;
}
#icon {
  height: 29px;
  width: 25px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}
#imd {
  height: 15px;
  width: 15px;
}

.Search {
  align-items: center;
  justify-content: center;
}
h2{
    margin-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#lorem{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin-top: 15px;
}
#call{
    background-color: rgb(244, 85, 76);
    color: white;
    font-weight: bold;
    height: 38px;
    width: 130px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}
.bottom{
    background-color: rgb(55, 83, 121);
    width: 100%;
    height: 20vh;
    display: flex;
    color: white;
    border: none;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    align-items: center;
}
span{
    font-weight: bold;
    font-size: large;
}
img{
  height: 25px;
  width: 25px;
  color: rgb(244, 85, 76);
    
}
h3{
  font-weight: bold;
  font-size: large;
  margin-left: 50px;
}
#left{
  margin-right: 50px;

}