body {
  text-align: center;
  background-color: rgb(244, 134, 134);
}
h1 {
  font: caption;
  font-size: 30px;
}
input {
  width: 250px;
  height: 32px;
  border-radius: 13px;
  border: none;
  padding-left: 10px;
}
input::placeholder {
  font-size: 10px;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 30px;
  height: 30px;

  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: row;
}
.go {
  margin-left: 20px;
}
.edit {
  margin-left: 50px;
}
.del {
  margin-left: 80px;
}

.content {
  border-bottom: 2px #000 solid;
  margin-left: 15%;
  margin-right: 15%;
  
}
